* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body, html {
    height: 100%;
  }

  #bg {
    background-image: url("images/background.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


  h1 {
    padding: 10px;
    text-align: center;
  }

  h2 {
    padding: 10px;
    text-align: center;
  }
